$path: '//static.mumway.com/lp/meeting/';
// body 也增加最大最小宽度限制，避免默认100%宽度的 block 元素跟随 body 而过大过小

dd,div,dl,dt,h1,h2,h3,h4,h5,h6,input,li,p,ul{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-weight:400}
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;line-height:1.4;color:#404040;background-color:#fff}
body,html{height:100%}
li{list-style:none}
.hidden{overflow:hidden}
a{color:#404040;text-decoration:none}
input::-webkit-input-placeholder{color:#999}
input:-ms-input-placeholder{color:#999}
select::-ms-expand{display:none}
select{-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none}
img{display:block;width:100%}

.f28{font-size:28px}
.f30{font-size:30px}
.f34{font-size:34px}
.f40{font-size:40px}

.cf{clear:both;zoom:1}
.cf:after{content:"";display:block;height:0;clear:both;visibility:hidden}
.fl{float:left}
.fr{float:right}
.show{display:block!important}
.hide{display:none}
.tc{text-align:center}
.tr{text-align:right}


.bold{font-weight:700}
